@font-face {
    font-family: "pt-mono";
    font-weight: 400;
    font-style: normal;
    src: url("./fonts/pt-mono_regular.woff") format("woff"),
        url("./fonts/pt-mono_regular.woff") format("woff2");
}

@font-face {
    font-family: "pt-mono";
    font-weight: 700;
    font-style: normal;
    src: url("./fonts/pt-mono_bold.woff") format("woff"),
        url("./fonts/pt-mono_bold.woff2") format("woff2");
}
